.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;

}

.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 70px;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.search-bar img:hover{
    transform: scale(1.1);
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 40px;

}

.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22pxs;
}

.col img{
    width: 36px;
    margin-top: 2px;
}

.col span{
    display: block;
    font-size: 16px;
}

.unit-toggle{
    display: flex;
    gap: 6px;
}

.unit-toggle button{
    padding: 4px 12px;
    width: 50px;
    background: #ebfffc;
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
}

.unit-toggle button:hover{
    transform: scale(1.1);
}

.forecast-day{
    display: flex;
    gap: 18px;
    margin: 20px 0;
    font-weight: bold;
    color: #fff;


}

.recent{
    color: white;
    border: white 1px solid;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
    transform: rotate(10deg);
    transition: all ease-in-out 0.15s;
    box-shadow: 3px 3px 5px #ebfffc, -3px -3px 5px white;
}

.recent:hover{
    transform: rotate(0);
}

.recent > *:hover{
    cursor: pointer;
}

.search{
    text-decoration: underline;
}